/* Background Content */

body {
    background-color: rgba(62, 62, 62, 0.692);
    background-image: linear-gradient(
      rgba(62, 62, 62, 0.692), 
      rgba(62, 62, 62, 0.857)
    ), url(img/raleigh-skyline-at-dusk-evening-black-and-white-bw-evening-panorama-north-carolina-nc-jon-holiday.jpeg);
    background-attachment:fixed;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    text-align: center;
    
}

/* Header Content */

#header{

    display: grid;
    grid-template-rows: auto auto auto;
    grid-row-gap: 10px;
    justify-items: center;
    margin-bottom: 20px;

}

#main-photo {

    margin-top: 100px;
    width: 100px;
    height: auto;
    border-radius: 50%;
    border-color: rgb(99, 169, 249);
    border-width: 3px;
    border-style: solid;

}

#name-and-role {

    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
}

#description{

    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgba(159, 159, 159, 0.533);
    border-width: 2px;
    border-radius: 18px;
    max-width: 400px;
    padding: 10px 10px;

}

/* Main Content */

#main-content {

    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 70%;
    margin: auto;
    margin-bottom: 100px;

}


.tile {

    color: rgb(79, 158, 248);
    background-color: rgba(243, 243, 243, 0.939);
    font-family: Arial, Helvetica, sans-serif;
    border-color: rgb(255, 255, 255);
    border-width: 1.9px;
    border-radius: 18px;
    border-style:solid;
    margin: 0 auto 22px auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    text-decoration: none;
    transition: 200ms ease-in-out;
    text-align: center;
    overflow: hidden;
    
}

.tile:hover {

    background-color: rgb(243, 243, 243);
    color: rgb(79, 158, 248);
    transform: scale(1.1);

}

/* Specific Links */

.link-icon {

    width: 25px;
    height: 25px;
    margin-right: 15px;

}